{%load static%}
{%include 'header.html'%}
<!-- #header -->
			  
			<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Menu			
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="event-details.html"> Menu Details</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
				
			<!-- Start event-details Area -->
			<section class="event-details-area section-gap">
				<div class="container">
					<div class="row">
						
						<div class="col-lg-50 event-details-right">
							<div class="single-event-details">
								<h4 style="text-align:center;">Menu Details</h4>
							</div>
							<div class="single-event-details">
								
								<table id="example1" class="table">
									
										<tr>
											<td><b>date</b></td>
											<td><b>day</b></td>
											<td><b>Breakfast</b></td>
											<td><b>lunch</b></td>
											<td><b>dinner</b></td>
										</tr>
									
									
									  {%for i in data%}
										<tr>
										  
											<td>{{i.date}}</td>
											<td>{{i.day}}</td>
											<td>{{i.breakfast}}</td>
						
											<td>{{i.lunch}}</td>
						
											<td>{{i.dinner}}</td>
										</tr>
										{%endfor%}
									</table>
								</div>													
						</div>
					</div>
				</div>	
			</section>
			<!-- End event-details Area -->
					
				
			<!-- Start cta-two Area -->
			<section class="cta-two-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 cta-left">
							<h1>Not Yet Satisfied with our Trend?</h1>
						</div>
						<div class="col-lg-4 cta-right">
							<a class="primary-btn wh" href="#">view our blog</a>
						</div>
					</div>
				</div>	
			</section>
			<!-- End cta-two Area -->						    			

			<!-- start footer Area -->		
			{%include "footer.html"%}