{%load static%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static '1.css'%}" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{%static 'kelavnidham.png' %}" id="icon">
      <br>
      <br>
    </div>

    <!-- Login Form -->
    <form method="post" onsubmit="return signfun()">
        {% csrf_token %}
      <label>Enter Username:</label>
      <input type="text" id="username" class="fadeIn second" name="username" required>
      <i id="msg" name="use" style="color:red;"></i>
      <br>
      <label>Enter Email:</label>
      <input type="text" id="email" class="fadeIn second" name="email" required>
      <label>Enter Password:</label>
      <input type="text" id="pwd" class="fadeIn third" name="pwd" required>
      <br>
      <i id="msg" name="msg" style="color:red;"></i>
      <input type="submit" class="fadeIn fourth" value="Sign Up"></input>
      
    </form>
  
    <div class="signup-link">Are you a member of hostel? <a href="\hostel_login">login with phone number</a></div>
    <div class="signup-link">Already registered? <a href="\login">Login now</a></div>
  </div>
</div>
<script>
    function signfun()
    {
      
      let b=document.getElementById("pwd").value;
      if(b=="")
      {
        document.getElementById("msg").innerHTML="password can not be empty";
        return false;
      }
      else if(b.length < 5)
      {
        document.getElementById("msg").innerHTML="password contains more than 5 charactor";
       return false;
      }
      else if(b.length > 25)
      {
        document.getElementById("msg").innerHTML="password contains less than 25 characters";
       return false;
      }
   
      let username = document.getElementById("username").value;
      let validator = /\W/;
      if(validator.test(username.value) || username.length<5 || username.length>25 ){
        document.getElementById("use").innerHTML="uername can only contain letters numbers and underscore between 5 to 25 characters";
        return false;
      }
    }
    
  </script>