{%load static%}
{%include 'adminheader.html'%}
 
  <!-- /.row -->
  <body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed" >
  {% include 'adminsidebar.html'%}
  <!-- Button trigger modal -->

  <div class="content-header">
   
  </div>
  <div class="card col-12">
    <div class="card-body">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        ADD
      </button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload">
        UPLOAD CSV
      </button>
     <a href="/admin/downloadCsvMenu/"> <button type="button" class="btn btn-primary">
        DOWNLOAD CSV
      </button></a>
        <table id="example1" class="table">
            <thead>
                <tr>
                    <td><b>id</b></td>
                    <td><b>date</b></td>
                    <td><b>day</b></td>
                    <td><b>Breakfast</b></td>
                    <td><b>lunch</b></td>
                    <td><b>dinner</b></td>
                    <td><b>Edit</b></td>
                    <td><b>Delete</b></td>
                </tr>
            </thead>
            <tbody>
              {%for i in menu%}
                <tr>
                   <td>{{i.id}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.day}}</td>
                    <td>{{i.breakfast}}</td>

                    <td>{{i.lunch}}</td>

                    <td>{{i.dinner}}</td>

                    <td><button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticcackdrop{{i.id}}"><i class="nav-icon fas fa-edit"></i>edit</button></td>

                    <td><a href="/admin/deletemenu/{{ i.id }}"><button class="btn btn-danger"><i class="nav-icon fas fa-trash-alt"></i>delete</button></a></td>


                </tr>
               <!--edit-->
<div class="modal fade" id="staticcackdrop{{i.id}}"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">UPDATE COURSE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method = "post" action="/admin/updatemenu/{{ i.id }}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="disabledTextInput">Menu ID :{{i.id}}</label>
            </div>
            <div class="col-md-10">
              <label for="validationCustom03" class="form-label">Date</label>
              <input type="text" class="form-control" id="date" name="date" value="{{i.date}}" >
              
            </div>
           
            <div class="col-md-10">
              <label for="validationCustom03" class="form-label">Day</label>
              <input type="textarea" class="form-control" id="day" name="day" value="{{i.day}}" required>
            </div>
            <div class="col-md-10">
              <label for="validationCustom03" class="form-label">Breakfast</label>
              <input type="textarea" class="form-control" id="breakfast" name="breakfast" value="{{i.breakfast}}" required>
            </div>
            <div class="col-md-10">
              <label for="validationCustom03" class="form-label">Lunch</label>
              <input type="textarea" class="form-control" id="lunch" name="lunch" value="{{i.lunch}}" required>
            </div>
            <div class="col-md-10">
              <label for="validationCustom03" class="form-label">Dinner</label>
              <input type="textarea" class="form-control" id="dinner" name="dinner" value="{{i.dinner}}" required>
            </div>
           
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-success" value="update"></input>
      </form>
      </div>
    </div>
  </div>
</div>
                {%endfor%} 
            </tbody>
        </table>
    </div>
  </div>
  
  <!-- /.content-header -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">ADD COURSE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method = "post" action="/admin/addmenu/" enctype="multipart/form-data">
          {% csrf_token %}
          
          <div class="col-md-10">
            <label for="validationCustom03" class="form-label">Date</label>
            <input type="text" class="form-control" id="date" name="date" required>
            
          </div>
         
          <div class="col-md-10">
            <label for="validationCustom03" class="form-label">Day</label>
            <input type="textarea" class="form-control" id="day" name="day" required>
          </div>
          <div class="col-md-10">
            <label for="validationCustom03" class="form-label">Breakfast</label>
            <input type="textarea" class="form-control" id="breakfast" name="breakfast" required>
          </div>
          <div class="col-md-10">
            <label for="validationCustom03" class="form-label">Lunch</label>
            <input type="textarea" class="form-control" id="lunch" name="lunch" required>
          </div>
          <div class="col-md-10">
            <label for="validationCustom03" class="form-label">Dinner</label>
            <input type="textarea" class="form-control" id="dinner" name="dinner" required>
          </div>
         
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-success"></input>
      </form>
      </div>
    </div>
  </div>
</div>

<!--upload-->

<div class="modal fade" id="upload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">UPLOAD CSV FILE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form method="post" action="/admin/UploadCsvMenu/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-10">
          <label for="validationCustom03" class="form-label">UPLOAD CSV</label>
          <input type="file" class="form-control" id="file" name="file">
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
      </div>
    </div>
  </div>
</div>
  <!-- Main Footer -->
  {%include 'adminfooter.html'%}